<div class="price">
  <%= range ? "<span class='range-prefix'>from</span> #{price}".html_safe : price %>
<<<<<<< HEAD
  <span class="tax-suffix"><%= "(#{gross} inc #{Store::settings.tax_name})" if Store::settings.tax_breakdown? %></span>
=======
  <span class="tax-suffix"><%= "#{gross} inc #{Store.settings.tax_name}" if Store.settings.tax_breakdown? %></span>
>>>>>>> master
</div>
