- content_for :title, '404 Error'
- content_for :breadcrumb, '404'

= render_breadcrumbs 1
.container
  .push-up.blocks-spacer
    .row
      %section.span2
      %section.span8
        %p.container-404
          = image_tag 'webmarket/404.png', :alt => '404 Error', :height => 161, :width => 394
        %hr/
        %p.center-align.size-16
          Looks like something went wrong! The page you were looking for is not here.
        %p.center-align.push-down-50
          Please navigate via the menu links above and below to find the page you were looking for, or if you're still unable to find the information you need please
          = link_to 'contact us', p_path('contact')
          and we'll do our best to help.
      %section.span2