- content_for :title, '500 Error'
- content_for :breadcrumb, '500'

.darker-stripe
.container
  .push-up.blocks-spacer
    .row
      %section.span2
      %section.span8
        .container-error
          %h1 500 Error
        %hr/
        %p.center-align.size-16
          We are sorry, but something went wrong. We have been notified of the issue.
        %p.center-align.push-down-50
          Please navigate via the menu links above and below to find the page you were looking for, or if you're still unable to find the information you need please
          = link_to 'contact us', p_path('contact')
          and we'll do our best to help.
      %section.span2