<div style="margin-left: auto;
margin-right: auto; display: table; width: 900px;">
      <div style="width:850px; vertical-align: middle; height:50px; padding: 15px; padding-bottom: 25px; border-bottom: 1px solid #cccccc; color: #000000; font-weight: bold; font-size: 20px;">
        <a href="http://www.gimsonrobotics.co.uk"><img style="width:330px; height: 42px; float: left;"

            alt="Gimson Robotics" src="Gimson-Robotics-Logo.jpg"></a>
        <div style="float: left; margin-left: 325px; font-size: 24px;"> DELIVERY
          NOTE </div>
      </div>
      <div style="padding:13px;">
        <div style="margin-left: 494px; width: 360px; margin-bottom: -120px; margin-top: 11px; float: left; border: 1px solid silver; padding: 5px;">
          <div style="margin-left: 10px; width: 115px; float: left;">Email
            address: <br>
            Business name: <br>
            Contact Address:<br>
            <br>
            <br>
            <br>
            UK VAT number:</div>
          <div style="margin-left: 12px; float: left;"><a href="mailto:support@gimsonrobotics.com">support@gimsonrobotics.com</a><br>
            Gimson Robotics Ltd<br>
            13 Elgin Park<br>
            Bristol<br>
            BS6 6RU<br>
            United Kingdom<br>
            (GB) 166536781</div>
        </div>
        <br>
        <table style="width: 450px;">
          <tbody>
            <tr>
              <td style="width: 120px; height: 19px;"><b>Order ID:</b></td>
              <td>106536<br>
              </td>
            </tr>
            <tr>
              <td><b>Date:</b></td>
              <td>23 Feb 2014, 15:07<br>
              </td>
            </tr>
            <tr>
              <td><b>Payment by:</b></td>
              <td>PayPal<br>
              </td>
            </tr>
            <tr>
              <td><b>Payment status:</b></td>
              <td>Paid<br>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <table style="width: 700px;">
          <tbody>
            <tr>
              <td style="width: 140px;"><b>Delivery method:</b></td>
              <td>Royal Mail 1st Class &lt;1kg<br>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <table>
          <tbody>
            <tr>
              <td style="width: 350px;"><b>Billing address:</b><br>
                Ewan Gimson<br>
                13 Elgin Park<br>
                Bristol<br>
                BS6 6RU<br>
                United Kingdom<br>
                <br>
                <b>Telephone:</b> not provided<br>
              </td>
              <td style="width: 350px;"><b>Delivery address:</b><br>
                Ewan Gimson<br>
                13 Elgin Park<br>
                Bristol<br>
                BS6 6RU<br>
                United Kingdom<br>
                <br>
                <b>Telephone:</b> 0117973752 </td>
            </tr>
          </tbody>
        </table>
        <br>
        <b>&nbsp;Email address:</b> ewan.gimson@googlemail.com<br>
        <br>
        <div style="width: 840px; border: 1px solid #CCCCCC; padding: 10px; float:left;">
          <div class="left-top" style="width: 500px;">Product</div>
          <div class="left-top" style="width: 130px;">SKU</div>
          <div class="right-top">Quantity</div>
          <div class="right-top">Price</div>
          <div class="right-top">Amount</div>
          <br>
          <div class="left" style="width: 500px;">GR02 Gearmotor with 12V DC
            Motor and 36:1 Gearbox</div>
          <div class="left" style="width: 130px;">GR02-12V-361 </div>
          <div class="right">2</div>
          <div class="right">29.00</div>
          <div class="right">58.00</div>
          <br>
          <div class="left" style="width: 500px;">GR02 Gearmotor with 12V DC
            Motor and 36:1 Gearbox<br>
            &nbsp;&nbsp;with: 100mm silicone leads with Deans connector</div>
          <div class="left" style="width: 130px;">GR02-12V-361<br>
            100DEANS</div>
          <div class="right">2</div>
          <div class="right">34.00</div>
          <div class="right">68.00</div>
          <br>
          <div class="left" style="width: 500px;">GR02 Gearmotor with 12V DC
            Motor and 36:1 Gearbox</div>
          <div class="left" style="width: 130px;">GR02-12V-361 </div>
          <div class="right">2</div>
          <div class="right">29.00</div>
          <div class="right">58.00</div>
          <div style="width: 100%;" class="right">
            <hr style="width: 250px; float: right;"><br>
            <b>Subtotal:</b>
            <div style="width: 80px; float: right">184.00</div>
            <br>
            <b>Delivery/Shipping:</b>
            <div style="width: 80px; float: right">11.20</div>
            <br>
            <b>Discount:</b>
            <div style="width: 80px; float: right">0.00</div>
            <b><br>
              UK VAT (at 20%):</b>
            <div style="width: 80px; float: right">32.54</div>
            <br>
            <hr style="width: 200px; float: right;"> <br>
            <b>Total (GBP):</b>
            <div style="width: 80px; float: right">227.74</div>
          </div>
        </div>
        <br>
        <div style="margin-top: 300px;"><br>
          <br>
          This delivery note may be used as a VAT invoice, our VAT number may be
          found towards the top right-hand corner.<br>
          <br>
          If you have any questions about your order please get in touch at<a href="mailto:support@gimsonrobotics.com">
            support@gimsonrobotics.com</a>, quoting your order number (ID).<br>
          <br>
          <br>
          <br>
          <hr style="color: #CCCCCC;"><br>
          <br>
          <br>
          <small><b>Additional information:</b><br>
            <br>
            <i>By placing this order you will have agreed to our terms and
              conditions. If you are a consumer ordering from within the
              European Union then directive 2011/83/EU<br>
              will apply to your order (also known as The Directive on Consumer
              Rights). This includes the right to return an item within 14 days
              of receipt, provided the item is<br>
              not customised or assembled to-order. If you wish to request a
              cancellation please use the order cancellation form which was
              linked-to in your email receipt, or <br>
              alternatively email us at orders@gimsonrobotics.com to cancel
              directly, ensuring that your message is sent as soon as possible
              within the 14 day limit. Returns<br>
              will not be accepted if the items have been modified or damaged by
              the user. We require that customers cover the return postage costs
              of any non-faulty <br>
              returned items.</i></small> &nbsp; <br>
          <br>
        </div>
      </div>
    </div>