#validateCartItemModal.modal.fade{"aria-hidden" => "false", "aria-labelledby" => "validateCartItemModalLabel", role: "dialog", tabindex: "-1", style: 'display:none;'}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h3#notifyMeModalLabel
      %span.light Insufficient
      Stock
  .modal-body
    %p 
      Unable to add the following item to your cart:
    %p
      %b= sku.product.name
      = render_variants(sku) unless sku.product.single?
    %p 
      There are only
      %b= sku.stock
      left in stock. Please
      = link_to 'contact us', p_path('contact')
      to find out when further stock will be available and/or to pre-order.
      