<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=windows-1252" http-equiv="content-type">
    <title><%= Store::settings.name %> - <%= yield :title %></title>
    <meta content="Ewan Gimson" name="author">
    <style type="text/css">
    body {color: #000000; font-family: Helvetica,Arial,sans-serif; font-size: 15px;}
      h1 {font-size: 16px;} 
      a {text-decoration: none; color: #008e99; -webkit-transition: color 0.2s ease; -moz-transition: color 0.2s ease; -o-transition: color 0.2s ease; transition: color 0.2s ease; }
      a:hover { color: #004F55; }
      .left-top {float: left; font-weight: bold; border-bottom: 1px solid #cccccc; padding-top: 4px; padding-bottom: 4px;}
      .right-top {float:left; width: 70px; font-weight: bold; text-align: right; border-bottom: 1px solid #cccccc; padding-top: 4px; padding-bottom: 4px;}
      .left {float: left; padding-top: 8px; padding-bottom: 0px;}
      .right {float:left; width: 70px; text-align: right; padding-top: 8px; padding-bottom: 0px;}
      hr {background: #cccccc; border: 0; height: 1px;}
</style> </head>
    <body>
        <%= yield %>
    </body>
</html>