- content_for :title, @page.page_title
- content_for :meta_description, @page.meta_description
- content_for :breadcrumb, @page.title

/ ==========
/ = Breadcrumbs =
/ ==========
= render_breadcrumbs 1
.container
  .push-up.blocks-spacer
    .row
      / ==========
      / = Main content =
      / ==========
      %section.span12
        = render partial: theme_presenter.page_template_path('shared/flash'), format: [:html], locals: { visible_alert: @page.visible_alert }
        / ==========
        / = Title =
        / ==========
        .underlined.push-down-20
          %h3
            %span.light= @page.title
        / /title
        / ==========
        / = Description=
        / ==========
        %section.blocks-spacer.about-sub-header
          = raw @page.content