//= require soca
//= require animations
//= require redactor-rails

#errors.json {
    display: none;
}
#redactor_modal_header {
    height:auto;
    width:auto;
    position: static;
    background: #f5f5f5;
}
.redactor_toolbar {
    overflow:inherit !important;
}
#delivery-services .inner-table
{
    width:40%;
}