body 
{
    font-family: 'Arial', 'Helvetica', 'sans-serif', cursive;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    color:#000;
}
h3 
{
    font-family: 'Arial', 'Helvetica', 'sans-serif', cursive;
}
a
{
    text-decoration: none;

    &:hover
    {
        text-decoration: none;
    }
}.main-titles.lined:after
{
    width:100px;
}
.navbar
{
    ul.nav
    {
        li
        {
            a
            {
                text-transform: none;
                font-size: 15px;
                font-weight: normal;
                box-shadow: none;
            }
        }
    }
    .twitter-typeahead
    {
        width:100%;
    }
    .cart-container
    {
        .hidden-tablet
        {
            display: inline-block;

            .price
            {
                display: inline-block;
                color: #34353e;
                position: relative;
                bottom:4px;
                padding:0 10px;

                span
                {
                    display: none;
                }
            }
        }
        .proceed 
        {
            a
            {
                font-size:15px;
            }
            span
            {
                font-size:11px;
                color:#b3b3b3;
                a
                {
                    font-size: 11px;
                }
            }
        }
    }
}
.breadcrumb li .fa-chevron-right
{
    font-size: 7px;
    margin: 0 4px;
    vertical-align: middle;
}
header
{
    .brand
    {
        padding: 15px 0;
    }
    ul
    {
        list-style-type: none;
        font-size:14px;
        margin:7% 0 0 0;
        overflow: hidden;
        display: inline-block;

        li
        {
            float:left;
            padding:0 20px;
            position: relative;

            a
            {
                color:#34353e;

                &:hover
                {
                    color:#e54b5d;
                }
            }

            &:before
            {
                content: "";
                border-left: 1px solid #e0e0e0;
                height:11px;
                position: absolute;
                left: 0;
                top:4px;
            }
        }
    }
}
footer  
{
    .nav li 
    {
        display:inline-block;
        margin:0 0 0 11px;

        &:first-child 
        {
            margin:0;
        }
        &:last-child 
        {
            margin:0 0 0 11px;

            a:after 
            {
                border-right:none;
            }
        }
        a:after 
        {
            content: "";
            border-right: 1px solid #666666;
            margin-left: 10px;
            height: 1px;
        }
    }
    .main-titles.lined:after 
    {
        width:180px;
    }
    .foot-last
    {
        color:#727272;
    }
}
.product
{
    .main-titles
    {
        h5
        {
            margin-bottom: 10px;
            font-size:18px;
        }
        div.price
        {
            margin-bottom:5px;
            font-size: 16px;

            span.range-prefix
            {
                font-style: italic;
                font-weight: normal;
            }

            span.tax-suffix
            {
                font-size: 14px;
                margin-left: 10px;
            }
        }
        p
        {
            font-weight: normal;
        }
    }
}
.product-title
{
    h1
    {
        font-weight: normal;
        font-size:24px !important;
        margin:0;
    }
}
.product-description
{
    overflow: hidden;
    color:#34353e;
    .price
    {
        font-size: 20px;
        font-weight: bold;
        color:#34353e;
        margin-bottom:15px;
        span
        {
            margin-top:10px;
            font-size: 17px;
            display: block;
        }
    }
    form
    {
        margin:0;

        select
        {
            margin-left: 5px;
        }
    }
    .stock
    {
        width:100%;
        margin-bottom: 15px;
        height: 35px;
        span
        {
            float:right;
        }
    }
}
#estimateDeliveryModal
{
    padding:30px 0 0;

    .modal-header
    {
        padding:9px 0;
        margin:0 30px;
    }
    form
    {
        margin:0;

        select
        {
            width:100%;
        }
    }
}
.tab-content
{
    color:#34353e;
}
// Responsive styles
@media (max-width: 767px) {
header
{
    ul
    {
        margin:0 0 3%;
    }
}

}
.price
{
    .tax-suffix
    {
        color:#003366;
    }
}