- content_for :title, 'Contact us'
- content_for :breadcrumb, 'Contact us'
/ ==========
/ = Breadcrumbs =
/ ==========
= render_breadcrumbs 1
.container
  .push-up.top-equal.blocks-spacer-last
    .row
      / ==========
      / = Main Title =
      / ==========
      .span12
        %h3
          %span.light Contact
          Us
        %hr
      / ==========
      / = Main content =
      / ==========
      %section.span8.single.single-page
        / ==========
        / = Post =
        / ==========
        %article.post
          .post-inner.push-down-25
            %p
              The fastest and easiest way to contact us is by email, please send your query to 
              %b support 'at' gimsonrobotics.com 
              or use the contact form below:
        / ==========
        / = Contact Form =
        / ==========
        %section.contact-form-container
          %form#commentform.form.form-inline.form-contact{action: "#", method: "post"}
            %p.push-down-20
              %input#author{"aria-required" => "true", name: "author", required: "", size: "30", tabindex: "1", type: "text", value: ""}/
              %label{for: "author"}
                Name
                %span.red-clr.bold *
            %p.push-down-20
              %input#email{"aria-required" => "true", name: "email", required: "", size: "30", tabindex: "2", type: "email", value: ""}/
              %label{for: "email"}
                Mail
                %span.red-clr.bold *
            %p.push-down-20
              %input#url{name: "url", size: "30", tabindex: "3", type: "text", value: ""}/
              %label{for: "url"} Website
            %p.push-down-20
              %textarea#comment.input-block-level{cols: "70", name: "comment", placeholder: "Your Message goes here ...", required: "", rows: "7", tabindex: "4"}
            %p
              %button#submit.btn.btn-primary.bold{tabindex: "5", type: "submit"} SEND EMAIL
        / ==========
        / = Company Info with Google Maps =
        / ==========
        %article.company-info
          .row
            .span8
              %p Please send any post or other queries to:
              %p
                %strong.opensans.dark-clr Gimson Robotics
                %br/
                13 Elgin Park
                %br/
                Bristol
                %br/
                BS6 6RU
                %br/
                United Kingdom
              %p
                Please be aware that 
                %b we don't keep a permanent phone line 
                as it would be uneconomical to maintain for a business of our size without additional dedicated staff. We are an engineering company first and foremost and spend much of our time in the workshop developing customer projects, making a reliable phone presence impractical. If despite this you still wish to call us please message us above and we will provide you with a mobile contact.
      / /main content