- content_for :title, 'Contact us'
- content_for :breadcrumb, 'Contact us'
/ ==========
/ = Breadcrumbs =
/ ==========
= render_breadcrumbs 1

.container
  .push-up.blocks-spacer
    = render partial: 'shared/flash/store'
    .row
      / ==========
      / = Main content =
      / ==========
      %section.span12
        / ==========
        / = Title =
        / ==========
        .underlined.push-down-20
          %h3
            %span.light Delivery
      %section.span9